# Data Types

## Numeric

In [ ]:
a = 5
print("Type of a: ", type(a))

b = 5.0
print("\nType of b: ", type(b))

c = 2 + 4j
print("\nType of c: ", type(c))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

## Sequence Type

In [ ]:
# Creating a String
# with single Quotes
String1 = 'Welcome to the Intro to Data Engineering'
print("String with the use of Single Quotes: ")
print(String1)

String with the use of Single Quotes:
Welcome to the Intro to Data Engineering

In [ ]:

# Creating a String
# with double Quotes
String1 = "I'm a escomio"
print("\nString with the use of Double Quotes: ")
print(String1)
print(type(String1))

String with the use of Double Quotes:
I'm a escomio
<class 'str'>

In [ ]:

# Creating a String
# with triple Quotes
String1 = '''I'm a escomio and I live in a world of "Otakus"'''
print("\nString with the use of Triple Quotes: ")
print(String1)
print(type(String1))

String with the use of Triple Quotes:
I'm a escomio and I live in a world of "Otakus"
<class 'str'>

In [ ]:

# Creating String with triple
# Quotes allows multiple lines
String1 = '''Escomio
            Intro
            Life'''
print("\nCreating a multiline String: ")
print(String1)

Creating a multiline String:
Escomio
            For
            Life

## Lists

In [ ]:

# Creating a List
List = []
print("Initial blank List: ")
print(List)

Initial blank List:
[]

In [ ]:

# Creating a List with
# the use of a String
List = ['Intro to Data Engineering']
print("\nList with the use of String: ")
print(List)

List with the use of String:
['Intro to Data Engineering']

In [ ]:

# Creating a List with
# the use of multiple values
List = ["Intro", "Data", "Engineering"]
print("\nList containing multiple values: ")
print(List[0])
print(List[2])

List containing multiple values:
Intro
Engineering

In [ ]:

# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Intro', 'Data'], ['Engineering']]
print("\nMulti-Dimensional List: ")
print(List)

Multi-Dimensional List:
[['Intro', 'Data'], ['Engineering']]

### Access list elements

In [ ]:

# Python program to demonstrate
# accessing of element from list

# Creating a List with
# the use of multiple values
List = ["Intro", "Data", "Engineering"]

# accessing a element from the
# list using index number
print("Accessing element from the list")
print(List[0])
print(List[2])

# accessing a element using
# negative indexing
print("Accessing element using negative indexing")

# print the last element of list
print(List[-1])

# print the third last element of list
print(List[-3])

Accessing element from the list
Intro
Engineering
Accessing element using negative indexing
Engineering
Intro

## Tuple

In [ ]:
# Creating an empty tuple
Tuple1 = ()
print("Initial empty Tuple: ")
print(Tuple1)

# Creating a Tuple with
# the use of Strings
Tuple1 = ('Intro', 'Data')
print("\nTuple with the use of String: ")
print(Tuple1)

# Creating a Tuple with
# the use of list
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))

# Creating a Tuple with the
# use of built-in function
Tuple1 = tuple('Intro')
print("\nTuple with the use of function: ")
print(Tuple1)

# Creating a Tuple
# with nested tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'data')
Tuple3 = (Tuple1, Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

Initial empty Tuple:
()

Tuple with the use of String:
('Intro', 'Data')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with the use of function:
('I', 'n', 't', 'r', 'o')

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'data'))

### Accessing tuples

In [ ]:
# Python program to
# demonstrate accessing tuple

tuple1 = tuple([1, 2, 3, 4, 5])

# Accessing element using indexing
print("First element of tuple")
print(tuple1[0])

# Accessing element from last
# negative indexing
print("\nLast element of tuple")
print(tuple1[-1])

print("\nThird last element of tuple")
print(tuple1[-3])

First element of tuple
1

Last element of tuple
5

Third last element of tuple
3

## Boolean

In [ ]:
# Python program to
# demonstrate boolean type

print(type(True))
print(type(False))

print(type(true))

<class 'bool'>
<class 'bool'>

NameError: ignored

## Dictionary

In [ ]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

# Creating a Dictionary
# with Integer Keys
Dict = {1: 'Data', 2: 'Intro', 3: 'Engineering'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)

# Creating a Dictionary
# with Mixed keys
Dict = {'Name': 'Data', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)

# Creating a Dictionary
# with dict() method
Dict = dict({1: 'Data', 2: 'Intro', 3: 'Engineering'})
print("\nDictionary with the use of dict(): ")
print(Dict)

# Creating a Dictionary
# with each item as a Pair
Dict = dict([(1, 'Data'), (2, 'Intro')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of Integer Keys:
{1: 'Data', 2: 'Intro', 3: 'Engineering'}

Dictionary with the use of Mixed Keys:
{'Name': 'Data', 1: [1, 2, 3, 4]}

Dictionary with the use of dict():
{1: 'Data', 2: 'Intro', 3: 'Engineering'}

Dictionary with each item as a pair:
{1: 'Data', 2: 'Intro'}

### Accessing dictionary elements

In [ ]:
# Python program to demonstrate
# accessing a element from a Dictionary

# Creating a Dictionary
Dict = {1: 'Data', 'name': 'Intro', 3: 'Engineering'}

# accessing a element using key
print("Accessing a element using key:")
print(Dict['name'])

# accessing a element using get()
# method
print("Accessing a element using get:")
print(Dict.get(3))

Accessing a element using key:
Intro
Accessing a element using get:
Engineering